@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

ul,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2,
h3,
h3 {
    margin: 0;

}

a {
    text-decoration: none;
}


body {
    background: #f7f8f9;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* Bootstrap Modify CSS */
.container-fluid{
    padding: 0px 50px;
}


/* Reusable CSS */
:root{
    --color-a:#1d4ed8;
    --color-b:#f6a114;
    --color-white:#fff;
}

.color-a{
    color: var(--color-a);
}
.color-b{
    color: var(--color-b);
}
.color-c{
    color: #fff;
}

.light-text{
    font-weight: 400;
}
.semi-bold-text{
    font-weight: 600;
}
.bold-text{
    font-weight: 700;
}
.button {
    padding: 10px 25px;
    font-size: 16px;
    border: 2px solid;
    font-weight: bold;
    border-radius: 8px 0px 0px 8px;
    padding-right: 40px;
    position: relative;
    z-index: 1;
}
.button-a{
    border-color: var(--color-b);
}
.button-a::before{
    background: var(--color-b);
    position: absolute;
    right: 0;
    content: '';
    width: 25px;
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    top: 0;
    z-index: -1;
}
.button-a:hover{
    color: #fff;
    transition: .1s;
    cursor: pointer;
}
.button-a:hover::before{
    width: 100%;
    transition: .3s;
    border-radius: 0;
    cursor: pointer;
}

.section-header{
    margin: 40px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* padding: 0px 5px; */
}
.section-header h3 {
    font-size: 32px;
    background: #f7f8f9;
    padding: 0px 10px;
}
.section-header::before {
    content: '';
    background: #f6a114;
    position: absolute;
    width: 25%;
    height: 3px;
    z-index: -1;
}
.section-header.revarse h3{
    color: var(--color-b);
    background: #1d4ed8;
}
.section-header.revarse.big::before{
    background: #fff;
    width: 65%;
}
.section-header.revarse::before{
    background: #fff;
}
/* ======================= */

/* header section */
.header{
    background: var(--color-a);
    padding-top: 20px;
}
.nav {
    padding: 10px 20px;
    background: linear-gradient(#00000029,#00000042), url(../img/globe.png);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo img{
    width: 233px;
}


.menu{
    display: flex;
}
.menu li a{
    margin-left: 40px;
    color: #fff;
}
.menu li a:hover{
    color: var(--color-b);
    transition: all .3s;
}

.banner-area{
    padding: 60px 0px;
    background: var(--color-a);
    color: #fff;
}
.banner-section-container{
    position: relative;
}
.banner-section-container p{
    font-size: 20px;
}
.banner-heading{
    color: #fff;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 90px */
}
.sub-heading{
    font-weight: 500;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.75);
    margin: 40px 0px;
}

.banner-scroll-down{
    position: absolute;
    top: 10px;
    right: 0px;
    height: 120px;
    padding: 12px;
    width: 120px;
    border-radius: 100px;
    overflow: hidden;
    background: #4E638B;
}
.banner-scroll-down svg {
    fill: #ffffff;
    height: auto;
    /* stroke: red; */
    width: 100%;
    height: 100%;
    transform: rotate(153deg);
    transform-origin: center;
    -webkit-animation: spin-banner-scroll-down 10s linear infinite;
    animation: spin-banner-scroll-down 10s linear infinite;
}
.banner-image{
    position: absolute;
    right: 0;
    top: 30px;
}
.banner-image img{
    width: 600px;
}
.scroll-sown-icon{
    
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    color: #f6a114;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateX(-25px)translateY(-25px);
}
@keyframes spin-banner-scroll-down {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.banner-bottom-area{
    margin-top: 80px;
}
.banner-bottom-box{
    width: 100%;
    height: 210px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
.banner-bottom-box video{
    width: 100%;
    height: 210px;
    object-fit: cover;/
}
.ovalry-text {
    position: absolute;
    height: 60px;
    width: 100%;
    z-index: 1;
    background: #000000a3;
    color: #fff;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
}
.ovalry-text h3{
    font-size: 20px;
    color: #fff;
}
.banner-bottom-box:hover .ovalry-text{
    height: 100%;
    transition: all .3s;
}
.about-us-container h2{
    font-size: 64px;
    margin-bottom: 60px;
}
.about-us-container img{
    width: 100%;
}
.about-description{
    background: var(--color-a);
    color: #fff;
    padding: 25px;
    padding-left: 45px;
    border-radius: 80px 0px 0px 80px;
    font-size: 22px;
    text-align: left;
}
.about-bottom {
    margin-top: 60px;
    padding-bottom: 50px;
}
.about-bottom h4{
    font-size: 34px;
}
.about-bottom img{
    width: 80%;
    margin-top: 20px;
}
.services{
    background: var(--color-a);
    padding: 40px 0px;
}
.service-left-header h4{
    font-size: 64px;
    font-weight: bold;
    color: #fff;
}
.service-left{
    position: relative;
    padding: 60px 30px;
}
.top-circle , .left-circle , 
.bottom-circle , .right-circle{
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 1;
    background: var(--color-b);
    content: '';
    border-radius: 100%;
}
.left-circle{
    bottom: -40px;
}
.right-circle{
    right: 0;
}
.bottom-circle{
    right: 0;
    bottom: -40px;
}
.service-box{
    padding: 20px;
    background: #f7f8f9;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: -1px 2px 1px 2px #f6a114;
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.service-rating {
    color: #f6a114;
    margin-bottom: 20px;
}

.service-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.1;
}
.service-icon i {
    font-size: 110px;
}
.service-infos h4{
    font-size: 24px;
    font-weight: bold;
}
.service-infos p{
    font-size: 14px;
   color: rgba(0, 0, 0, 0.75);
}
.service-box:hover{
    cursor: pointer;
    box-shadow: none;
}
.service-box:hover .service-infos p,
.service-box:hover .service-rating i,
.service-box:hover .service-infos h4{
    color: #fff;
}
.service-box:hover .service-icon i{
    font-size: 130px;
}
.service-box::before{
    content: '';
    background: #f6a114;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0px 20px 0px 0px;
}
.service-box:hover::before{
    transition: ease .3s;
    height: 100%;
    width: 100%;
}
.service-box-bottom {
    background: #f7f8f9;
    border-radius: 30px;
    padding: 5px 30px;
    box-shadow:  0px 1px 1px 1px #f6a114;
}
.service-box-bottom h5{
    margin-bottom: -2px;
}
.statics-box{
    position: relative;
}
.statics-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 3px;
    z-index: 1;
    background: #f6a114;
    right: 3px;
    top: 50%;
    transform: translateY(-45%);
}
.last-child::before{
    width: 0;
}
.statics-box h5{
    color: #000;
}
.portfolio{
    padding: 30px 0px;
    background: #000;
    position: relative;
    color: #fff;
}

.prtfolio-hedding{
    font-size: 84px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
}
.slider-image img{
    width: 100%;
}
.slider-details h2{
    font-size: 64px;
    font-weight: 600;
}
.slider-details h4{
    font-size: 48px;
    font-weight: 400;
}
.slider-details p{
    position: relative;
    color:#00F56A;
    padding-left: 15px;
}
.slider-details p::before{
    width: 10px;
    height: 10px;
    content: '';
    position: absolute;
    background: #00F56A;
    border-radius: 50px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.slider-section {
    padding-top: 130px;
    margin: 0px 50px;
}
#our-story{
    background: linear-gradient(0deg, rgba(29, 78, 216, 0.75) 0%, rgba(29, 78, 216, 0.75) 100%), url("../img/office-staff-working.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0px;
    color: #fff;
}
.story-container h3{
    font-size: 64px;
    color: #fff;
    font-weight: bold;
}
.our-story-video img{
    width: 600px;
    border-radius: 35px;
    border: 1.062px solid #F6A114;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}